# Python cache
__pycache__/
*.py[cod]

# Virtual environment
venv/
.venv/

# Environment variables
.env

# Database
*.db

# Large datasets
model/creditcard.csv

# Node modules
frontend/node_modules/

# Frontend build files
frontend/dist/

# IDE settings
.vscode/

# Operating system files
.DS_Store
Thumbs.db